* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    font-family: 'Roboto Mono', monospace;
}

body {
    margin: 0; 
    overflow: hidden;
}
#wrapper {
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

#wrapper #currentlocation {
    /* position: fixed;
    z-index: 10000; */
    background-color: rgb(52, 51, 50);
    padding: 10px;
    /* bottom: 0;
    left: 0; */
    width:100%;
    height:7%;
    color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 400;
}
#wrapper #map-container {
    /* position: fixed;
    z-index: 10000; */
    background-color: rgb(52, 51, 50);
    /* bottom: 20px;
    left: 0; */
    width:100%;
    height:93%;
    display: block;
    /* border-top-left-radius: 50%;
    border-top-right-radius: 50%; */
    overflow: hidden;
    /* box-shadow: 0 -10px 5px -3px rgba(0, 0, 0, 0.8); */
  }
#wrapper #map-container #map {
    height:100%;
    /* position: absolute; top:0; bottom:0; right:0; left:0;  */
}