* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    font-family: 'Roboto Mono', monospace;
}

body {
    margin: 0; 
    overflow: hidden;
}
#wrapper {
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    width:100%;
    position:absolute;
    z-index:0;
}

#wrapper #currentlocation {
    background-color: rgb(52, 51, 50);
    padding: 10px;
    width:100%;
    height:4%;
    color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 400;
}
#wrapper #status {
    background-color: rgb(52, 51, 50);
    padding: 10px;
    width:100%;
    height:3%;
    color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 400;
}
#wrapper #map-container {
    background-color: rgb(161, 163, 165);
    width:100%;
    height:93%;
    display: block;
    overflow: hidden;
}
#wrapper #map-container #map {
    height:100%;
}
#wrapper #map-container #permissionError {
    margin:auto;
    height: 100%;
    width: 100%;
    user-select:none;
    color: white;
    background-color: rgb(52, 51, 50);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
#wrapper #map-container #permissionError h2 {
    font-weight: 700;
    margin-bottom:10px;
    margin-top:10px;
    text-decoration: underline;
    font-size: 1.25rem;
}
#wrapper #map-container #permissionError h4 {
    font-weight: 700;
    margin-bottom:10px;
    margin-top:10px;
    text-decoration: underline;
    font-size: 1rem;
}
#wrapper #map-container #permissionError ul {
    width:80%;
}
#wrapper #map-container #permissionError ul li {
    font-weight: 400;
    margin-bottom:4px;
    margin-top:2px;
    font-size: 0.7rem;
}
#refreshBtn {
    height:40px;
    width:90%;
    border-radius: 40px;
    user-select:none;
    color: white;
    font-size: 1rem;
    background-color: dodgerblue;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    margin-top:15px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    transition:transform 0.3s ease;
}
#refreshBtn:active {
    transform:scale(0.88);
}

#loader-area {
    width:100%;
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgb(52, 51, 50);
    position: absolute;
    z-index: 1;
}
#loader-anim {
    width:120px;
    height:120px;
    border:15px solid gray;
    border-top-color: dodgerblue;
    margin:auto;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius: 50%;
    animation: spinn 1.5s infinite linear;
}
@keyframes spinn {
    100% {
        transform:rotate(360deg);
    }
}
#internet-area {
    width:100%;
    height: 100vh; 
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgb(52, 51, 50);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    color:white;
    text-align: center;
    padding: 10px;
    position: absolute;
    z-index: 2;
}

@media screen and (max-width: 425px) {
    #wrapper #currentlocation, #wrapper #status {
        font-size: 0.6rem;
      }
}